.gallery{
    display: grid;
    width: 100%;
    align-items: center;
    justify-items: center;
    gap: 20px;
    grid-template-columns: auto auto;
}

body{
    background-color: rgb(54, 54, 54);
}

main{
    background-color: white;
    padding: 0px 20px 20px;
}

header{
    padding-top: 20px;
    /* background-image:url("../images/frames/Top.jpg"); */
    background-color: rgb(54, 54, 54);
    color: white;
}



footer{
    margin: 30px 0px 0px 0px;
    padding: 20px;
    background-color: rgb(54, 54, 54);
    color: white;
}

img.content{
    grid-column: 2/3;
    grid-row: 2/3;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

img.left{
    display:flex;
    object-fit: fill;
    justify-self:stretch;
    max-width: 40px;
    height: 100%;
    grid-column: 1;
    grid-row: 2/3;
}
img.right{
    object-fit: fill;
    justify-self: stretch;
    height: 100%;
    max-width: 40px;
    grid-column: 3;
    grid-row: 2/3;
}
img.top{
    object-fit: fill;
    align-self:stretch;
    width: 100%;
    max-height: 40px;
    grid-column: 2/3;
    grid-row: 1;
}
img.bottom{
    object-fit: fill;
    align-self:stretch;
    width: 100%;
    max-height: 40px;
    grid-column: 2/3;
    grid-row: 3;
}
img.TL{
    object-fit: fill;
    align-self:stretch;
    width: 100%;
    grid-column: 1;
    grid-row: 1;
}
img.TR{
    object-fit: fill;
    width: 100%;
    grid-column: 3;
    grid-row: 1;
}
img.BL{
    object-fit: fill;
    align-self:stretch;
    width: 100%;
    grid-column: 1;
    grid-row: 3;
}
img.BR{
    object-fit: fill;
    width: 100%;
    align-self:stretch;
    grid-column: 3;
    grid-row: 3;
}

.photo{
    display: grid;
    grid-template-columns: 40px auto 40px;
    grid-template-rows: 40px auto 40px;
}

.tall{
    grid-row: span 2;
}

li{
    list-style-type: none;
    text-align: center;
    padding-top: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 20%;
    margin: 0px 1px;
    background-color: white;
}

h1{
    padding: 20px 0px;
    text-align: center;
    font-size:xx-large;

}

nav ul{
    display: flex;
    margin:0;
    padding: 0;
    height: 40px;
    width: 100%;
    justify-content: center;
}

nav{
    display:inline;
    width: 100%;
}

div.skip{
    position: absolute;
    top: -20px;
}